<h1>Character By House</h1>
<mat-form-field>
    <mat-select [(ngModel)]="houseFilter" (selectionChange)="applyFilter()" placeholder="Select a House">
        <mat-option value="gryffindor">Gryffindor</mat-option>
        <mat-option value="slytherin">Slytherin</mat-option>
        <mat-option value="hufflepuff">Hufflepuff</mat-option>
        <mat-option value="ravenclaw">Ravenclaw</mat-option>
    </mat-select>
</mat-form-field>

<div class="card-container">
    @for (character of characters; track $index) {
        <mat-card class="character-card">
            <img mat-card-image *ngIf="character.image" src={{character.image}} />
            <mat-card-title>{{ character.name }}</mat-card-title>
            <mat-card-subtitle *ngIf="character.house">House {{ character.house }}</mat-card-subtitle>
            <a mat-stroked-button [href]="`/details/${character.id}`">Details</a>
        </mat-card>
        
    }@empty {
        <h2>No Characters found...</h2>
    }
</div>